{% trans_default_domain "NitraUploadBundle" %}

{% block nlupload_javascript %}
    {% javascripts
        '@NitraUploadBundle/Resources/public/js/vendor/jquery.ui.widget.js'
        '@NitraUploadBundle/Resources/public/js/jquery.fileupload.js'
        '@NitraUploadBundle/Resources/public/js/jquery.fileupload-ui.js' 
        '@NitraUploadBundle/Resources/public/js/nlupload.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(function() {
            $('input.fileupload_{{ id }}').nlupload({
                id:                 '{{ id }}',
                name:               '{{ name }}',
                description:        '{{ description }}',
                full_name:          '{{ full_name }}',
                tableId:            'files_{{ full_name|replace('[', '_')|replace(']', '_') ~ (app.request.isXmlHttpRequest() ? '_colorbox') }}',
                base_path:          '{{ base_path }}',
                use_original_name:  {{ use_original_name ? 'true' : 'false' }},
                multiple:           {{ multiple ? 'true' : 'false' }},
                msg_delete_old:     '{{ 'deleteOld'|trans }}',
                msg_limit_upload:     '{{ 'limitUpload'|trans }}',
                msg_delete_confirm: '{{ 'deleteConfirm'|trans }}',
                msg_loading:        '{{ 'loading'|trans }}',
                path:               '{{ path(attach_route) }}',
                error_413:          '{{ 'errors.large'|trans({'%max%': ''}, 'NitraUploadBundle') }}',
                error_undefined:    '{{ 'errors.fail'|trans }}',
                ajax:               {{ app.request.isXmlHttpRequest() ? 'true' : 'false' }},
                maxLengthFileUpload:  '{{ maxLengthFileUpload }}' ? '{{ maxLengthFileUpload }}' : null,
                preCallback:        {{ (preCallback ? preCallback : '""')|raw }},
                postCallback:       {{ (postCallback ? postCallback : '""')|raw }},
                postRemove:         {{ (postRemove ? postRemove : '""')|raw }},
                disabled:           {{ disabled ? 'true' : 'false' }},
                fileTypes:          {% if fileTypes %}/\.({{ fileTypes|join('|') }})$/i{% else %}/.+$/i{% endif %},
            });
        });
    </script>
{% endblock nlupload_javascript %}

{% block nlupload_row %}
    <div class="form_row field_{{ form.vars.name }} field_{{ formType|default('default') }} {% if errors|length > 0 %} field_error{% endif %} {{ not compound ? 'field_simple' }} {{ icon is defined and icon is not empty ? 'form_row_icon' }}">
        {{ form_label(form) }}
        <div class="field_content">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ block('form_help') }}

            {# icon #}
            {% if icon is defined and icon is not empty %}
                <span class="input_icon {{ icon }}"></span>
            {% endif %}
        </div>
    </div>
{% endblock nlupload_row %}

{% block nlupload_widget %}
    {# Определение одиночный файл или массив #}
    <input id="file_{{ id }}" type="hidden" name="{{ not data ? (full_name) }}" value="" {{ disabled ? 'disabled' : '' }}>
    {% set files = multiple ? data : [data] %}
    <input autocomplite="off" name="nlupload" type="file" class="fileupload_{{ id }}"{{ multiple ? ' multiple' }} data-url="{{ path(attach_route) }}" {{ disabled ? 'disabled' : '' }}>
    <table id="files_{{ full_name|replace('[', '_')|replace(']', '_') ~ (app.request.isXmlHttpRequest() ? '_colorbox') }}" class="table files table-striped">
        {% for key, file in files if file %}
            {% set filePath = file is iterable ? file.path : file %}
            {% set fileExtension = filePath|ext|lower %}
            <tr class="template-download fade " iteration="{{ key }}">
                <td {{ write_file_name == false ? 'colspan="2"' }} class="preview {{ fileExtension }}"><a target="_blank" href="{{ filePath }}">{% if fileExtension in ['png','jpeg','jpg','gif'] %}<img style="max-height: 50px; max-width: 50px;" src="{{ filePath }}">{% else %}{{ filePath|split('/')|last }}{% endif%}</a></td>
                {% if write_file_name %}
                    <td class="name">{{ (file is iterable ? file.path : file)|split('/')|last  }}</td>
                {% endif %}
                {% if description %}
                    <td class="description">
                        <input type="text" name="{{ full_name ~ '[' ~ key ~ '][description]' }}" value="{{ file.description }}" {{ disabled ? 'disabled' : '' }} />
                    </td>
                    <td class="delete">
                        <button type="button" class="delete link_icon_mini" data-type="POST" data-url="{{ path(attach_route, {'id': file|replace({'/': '-'})}) }}" {{ disabled ? 'disabled' : '' }}><i class="i_delete"></i></button>
                        <input type="hidden" name="{{ full_name ~ '[' ~ key ~ '][path]' }}" value="{{ file.path }}">
                    </td>
                {% else %}
                    <td class="delete">
                        <button type="button" class="delete link_icon_mini" data-type="POST" data-url="{{ path(attach_route, {'id': file|replace({'/': '-'})}) }}" {{ disabled ? 'disabled' : '' }}><i class="i_delete"></i></button>
                        <input type="hidden" name="{{ full_name ~ ( multiple ? '[]' ) }}" value="{{ file }}">
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}